{{ ansible_managed | comment }}

{% if telegraf_config.global_tags is defined %}
[global_tags]
{% for option, value in telegraf_config.global_tags.items() | sort %}
{% if value is sameas true %}
  {{ option }} = true
{% elif value is sameas false %}
  {{ option }} = false
{% elif value is string %}
  {{ option }} = "{{ value }}"
{% elif value is number %}
  {{ option }} = {{ value }}
{% elif value is iterable %}
  {{ option }} = ["{{ value | join(", ") }}"]
{% else %}
  {{ option }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}

{% if telegraf_config.agent is defined %}
[agent]
{% for option, value in telegraf_config.agent.items() | sort %}
{% if value is sameas true %}
  {{ option }} = true
{% elif value is sameas false %}
  {{ option }} = false
{% elif value is string %}
  {{ option }} = "{{ value }}"
{% elif value is number %}
  {{ option }} = {{ value }}
{% elif value is iterable %}
  {{ option }} = ["{{ value | join(", ") }}"]
{% else %}
  {{ option }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}

{% if telegraf_config.outputs is defined %}
{% for output in telegraf_config.outputs %}
[[outputs.{{ output.type }}]]
{% for option, value in output.config.items() | sort %}
{% if value is sameas true %}
  {{ option }} = true
{% elif value is sameas false %}
  {{ option }} = false
{% elif value is string %}
  {{ option }} = "{{ value }}"
{% elif value is number %}
  {{ option }} = {{ value }}
{% elif value is iterable %}
  {{ option }} = ["{{ value | join('", "') }}"]
{% else %}
  {{ option }} = "{{ value }}"
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}

{% if telegraf_config.inputs is defined %}
{% for input in telegraf_config.inputs %}
[[inputs.{{ input.type }}]]
{% for option, value in input.config.items() | sort %}
{% if value is sameas true %}
  {{ option }} = true
{% elif value is sameas false %}
  {{ option }} = false
{% elif value is string %}
  {{ option }} = "{{ value }}"
{% elif value is number %}
  {{ option }} = {{ value }}
{% elif value is iterable %}
  {{ option }} = ["{{ value | join('", "') }}"]
{% else %}
  {{ option }} = "{{ value }}"
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
