{{ ansible_managed | comment }}

[agent]
{% for key, value in telegraf_config.agent.items() %}
  {{ key }} = {{ value | to_nice_yaml(indent=2) }}
{% endfor %}

{% for output in telegraf_config.outputs %}
[[outputs.{{ output.type }}]]
{% for key, value in output.config.items() %}
  {{ key }} = {{ value | to_nice_yaml(indent=2) }}
{% endfor %}
{% endfor %}

{% for input in telegraf_config.inputs %}
[[inputs.{{ input.type }}]]
{% for key, value in input.config.items() %}
  {{ key }} = {{ value | to_nice_yaml(indent=2) }}
{% endfor %}
{% endfor %}
